
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wrapper {
  height:50%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightgreen;
}

#submitbutton {
  height: 30px;
  width: 75px;
}

#output {
  height: 25px;
  width: 200px;
  border: 2px solid black;
  border-style: dotted;
  background: white;
}